$green: #49AC33;
$orange: #F56023;

body {
    margin-bottom: 0;
}

.bg-yellow, .content, .site {
    background: #FEF7EF;
}

.text-green {
    color: $green;
}

.title-secondary {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.box-1 {
    //visibility: hidden;
}

.chev {
    display: block;
    max-height: 20px;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.spc {
    top: -20px;
    position: relative;
    margin-top: -50px;
    margin-bottom: -20px;
}

.card {
    border-radius: 0.4em;
}

.callout {
    background: url("./../../../assets/img/achtergrond-foto.jpg"), no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 56px;
    margin-bottom: -110px;
    min-height: 400px;

    @media (min-width: 50em) {
        padding-top: 64px;

        .cal-2, .cal-3 {
            margin-top: -64px;
        }
    }

    @media (max-width: 50em) and (orientation: landscape) {
        padding-top: -48px;

        .cal-2, .cal-3 {
            margin-top: -48px;
        }
    }
}

.cal-2, .cal-3 {
    margin-top: -56px;

    .row {
        margin-top: -40px;
    }
}

.cal-2 {
    min-height: 400px;
}

.hr1 {
    background: #fff;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 0.4em;

    img {
        height: 235px;
        object-fit: cover;
        border-radius: 0 .4em .4em 0;
    }

    .col-12 {
        padding: .5rem 2rem;
    }

    h2 {
        margin-bottom: -6px;
    }
}

.text-white {
    color: #fff;
}

.big {
    font-size: 120%;
}

.bbb {
    a {
        font-weight: 500;
        font-size: 0.8rem;
        color: #49AC33;

        &:visited {
            color: #49AC33;
        }

        &:hover {
            color: $orange;
        }
    }
}

.trim {
    min-height: 60px;
    padding-bottom: 0px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

 /*
.entry-header-activiteit, .entry-header-page {
    max-width: 300px;
    min-height: 250px;
    align-items: center;

   
        @media (min-width: 60em) {
            max-width: 600px;
        }
    
        @media (max-width: 50em) {
            max-width: 400px;
            margin: auto;
            text-align: center !important;
        
}}*/

.line {
    border: 2px solid grey;
    width: 30px;
    height: 1px;
    display: block;
    margin-top: -15px;
    margin-bottom: 30px;
}

.card {
    width: 100%;
    margin-bottom: 30px;

    .card-block {
        padding: 10px;
        min-height: 180px;
    }
}

// type extra
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.02rem;
}

.card-text {
    line-height: 1;
}

// blank page

.blk {
    .container {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
}

.card-blk {
    background: none !important;
    border: 0px !important;
}

//contact form 7

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
    width: 100%;
    border-radius: 50em !important;
    padding: 7px 20px !important;
    border: 1px solid;
    border-color: lightgrey;
    outline: none;
    -webkit-appearance: none;
}

textarea {
    width: 100%;
    border-radius: 2em;
    padding: 20px 20px !important;
    border: 1px solid;
    border-color: lightgrey;
    box-shadow: none;
    -webkit-appearance: none;
}

.wpcf7-submit {
    padding: 10px !important;
    width: 100%;
    color: #fff !important;
    border: 0px !important;
    font-size: 1.2rem !important;
    background: #F56023 !important;
    border-radius: 50em !important;
}

// btn
.btn {
    border-radius: 50em;
    padding: 6px 30px;
    width: fit-content;
    font-size: 0.85rem;

    &-primary {
        color: #fff !important;
    }
}

.btn-2 {
    background: none !important;
    color: green !important;
    border: 2px solid green;
}

.btn-3 {
    background: none !important;
    color: $orange !important;
    border: 2px solid $orange;
}

.btn-4 {
    background: grey !important;
    color: #fff !important;
    border: 2px solid grey;
}

p {
    font-family: roboto;
    font-weight: 300;
    font-size: 0.788rem !important;
}

.nav-links {
    a {
        color: $green;
    }

    a:visited {
        color: $green;
    }
}

// card activitiy
.term {
    position: absolute;
    right: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background: $blue;
    }

    li {
        @media (max-width: 50em) {
            width: 100%;
        }
    }
}

.available {
    display: flex;
    align-items: center;
    min-height: 30px;
    background: rgba(255, 0, 0, 1);
    top: 170px;
}

.single-available {
    position: relative !important;
    top: 0;
    left: 0;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.card-img-top {
    border-radius: 0.5em 0.5em 0 0;
}

.card-text {
    line-height: 1.45;
}

// agenda
.agenda {
    list-style: none;
    border-bottom: 1px solid lightgrey;

    small, h3, h4 {
        font-family: 'Roboto',sans-serif;
        display: inline-block;
    }

    h3 {
        font-size: 1.6rem;
        color: $green;
    }

    h3, h4 {
        font-size: 1rem;
        font-weight: 500;
    }

    .text-muted {
        font-size: 0.7rem;
    }

    .naam {
        font-size: 0.8rem !important;
    }

    /*
        li {
            width: 50%;
            max-width: 250px;
            float: left;
        }*/
}

.naam {
    margin-top: -1px;
}

.card-agenda {
    ul {
        &:last-child {
            border-bottom: 0px !important;
        }
    }
}

// activiteiten

.post-type-archive-activiteit .alles a {
    background: $orange;
    color: #fff !important;
}

.terms .active {
    background: $orange;
    color: #fff !important;
}

.activiteit-terms {
    font-family: "Roboto", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0 0 30px 0;
    color: #fff;
    float: left;
    display: inline-block;

    @include media-breakpoint-down(md) {
        width: 100%;
    }


    li {
        padding: 0 5px;
    }

    a {
        color: #444;
        padding: 5px 20px;
        border-radius: 50em;

        &:visited {
            color: #444;
        }

        &:hover {
            color: $orange;
        }
    }

    li {
        float: left;

        @include media-breakpoint-down(md) {
            float: none;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

// recent post
.recent-post {
    list-style: none !important;

    a {
        font-weight: 400;
        font-size: 0.9rem;
        letter-spacing: 0.03rem;
        color: $green;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        &:visited {
            color: $green;
        }

        &:hover {
            color: $orange !important;
        }
    }
}

// blog
.blg {
    background: none;

    a {
        color: green;

        &:visited {
            color: green;
        }

        &:hover {
            color: $orange;
            text-decoration: none;
        }
    }
}

//single activiteiten pagina
.sap {
    small {
        font-size: 0.9rem;
    }

    .time {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1.1rem;
    }
}

.price {
    font-size: 1.5rem !important;
    font-weight: 500;
}

// lead
.lead {
    font-family: program, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    color: $green;

    @include media-breakpoint-up(md) {
        font-size: 2.1rem;
    }
}

// mailchimp
// mailchimp sign up
#mc-embedded-subscribe-form {
    display: flex;
    flex: 1;
    justify-content: center;

    input {
        height: 35px;
        font-size: 0.8rem;
    }
}

#mc-embedded-subscribe {
    border-radius: 0 50px 50px 0 !important;
    font-weight: 100 !important;
}

#mc_embed_signup_scroll {
    flex: 2 1 auto;
}

.clear {}

#mce-EMAIL {
    border-radius: 50px 0 0 50px !important;
    border: 0;
    padding-left: 10px;
    background: #FAFAFA;
    color: #9B9B9B;
    font-style: italic;
    font-weight: 100 !important;
}

// footer links ul
.site-footer {
    background: url("../../../assets/img/footer.jpg") no-repeat;
    object-fit: cover;
    background-size: cover;

    // background-blend-mode: multiply;
}

footer {
    h3 {
        font-size: 1.208rem;
        font-weight: 500;
        margin-bottom: 13px;
    }
}

.ftu {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-left: 0;
        padding-left: 0;
        line-height: 1.55;
        font-weight: 300;

        a {
            color: #fff;
            font-size: .788rem;
            letter-spacing: .02rem;
        }
    }
}

.team {
    thead {
        font-size: 1.3rem;
    }

    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-left: 0;
        padding-left: 0;
        line-height: 1.7;
        font-weight: 300;

        a {
            color: #444;
            letter-spacing: 0.02rem;
        }
    }
}

.hac {
    img {
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
    }

    .card-text {
        min-height: 45px;
    }
}

.card-title {
    a:hover {
        color: $orange !important;
    }

    a:visited {
        color: #444444;
    }

    a {
        color: #444444;
    }
}