a:hover {
    text-decoration: none;
}

.menu-btn {
    color: $orange;
}

.chev {
    &:hover {
        cursor: pointer;
    }
}

.app-bar {
    height: 56px;
    margin-bottom: -56px;
    width: 100%;
    max-width: 100%;
    opacity: 1;
    position: relative;
    z-index: 800;
    font-weight: 500;
    padding-left: 15px;

    img {
        height: 40px;
    }

    ul {
        display: flex;
        list-style: none;
        position: absolute;
        align-items: center;

        li {
            float: left;

            //margin-left: 5px;
       
        }
    }

    @media (min-width: 50em) {
        height: 64px;
        margin-bottom: -64px;
    }

    @media (max-width: 50em) and (orientation: landscape) {
        height: 48px;
        margin-bottom: -48px;
    }

    .app-bar-inner {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: inherit;

        //max-width: 1140px;
        //padding: 0 16px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 50em) {
            justify-content: center;
        }

        ul {
            position: absolute;

            @media (min-width: 50em) {
                left: 0;
            }
        }
    }

    .menu-btn {
        position: absolute;
        left: 16px;
    }

    .navigatie {
        .active {
            a {
                color: #E74A24;
                padding-bottom: 2px;
                border-bottom: 2px solid #E74A24;
            }
        }
    }

    .navigatie {
        position: relative;
        right: 0px;
        z-index: 1000;

        /*
                &:after {
                    content: ' ';
                    width: 122%;
                    display: flex;
                    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        
                    //max-width: calc(100% - 30px);
                    height: 380px;
                    position: absolute;
                    background: linear-gradient(rgba(245, 96, 35, 0.5), rgba(245, 96, 35, 0.5)), url("/assets/img/HF.jpg") no-repeat;
                    background-size: cover;
        
                    //background: red;
                    top: -300px;
        
                    //top: 0px;
                    right: -200px;
                    border-radius: 2.5em 0 0 2.5em;
                    transform: rotate(-45deg);
        
                    //overflow: hidden;
                    z-index: 1000;
                }
                */

        ul {
            position: relative;
            z-index: 1100;
            right: 0;
            left: 0;
            margin: 0;
            text-transform: none;
            font-size: 0.8rem;

            li {
                float: left;
                list-style-type: none;
                margin-left: 12px;
                padding-left: 12px;
                position: relative;
                z-index: 1200;

                a {
                    color: #4a4a4a;
                }

                i {
                    border: solid #1d1d1d;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    position: relative;
                    padding: 3px;
                    top: -3px;
                    left: 11px;
                }

                .down {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
        }
    }
}

// logo
.logo-body {
    display: flex;
    align-items: center;

    p {
        margin: 0;
        padding-left: 15px;
    }
}

.Logo {
    //display: flex;

    width: 178px;
    object-fit: contain;
    padding-right: 20px;
    line-height: 0;
}